.quiz-items-box {
  text-align: center;
  width: 80%;
}

.button {
  background: linear-gradient(to right, #4f00bc, #29abe2);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .quiz-items-box {
    width: 90%;
  }
}
